<!DOCTYPE html>
<html>
  <head>
    <title>category!!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>카테고리로 옴 해라</h1>
    <p>Welcome to <%=id%></a>
    
  </body>
</html>