<!DOCTYPE html>
<html>
  <head>
    <title>로그인 고고!!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>로그인이나 해라</h1>
    <p>Welcome to hell!!!</p>
    <a href="/regist/twitter">twitter login</a>
    <a href="/regist/facebook">facebook login</a>

    <a href="/auth/kakao">kakao login</a>

    <a href="/auth/google">google login</a>

    <a href="/category">카테고리 login</a>

    <a href="/regist">가입 login</a>

    <img src="images/b43a6ae0-bcb4-11e4-945a-cb211b311fe2/3af867a4c120da290b9ee547252270ab.png" alt="Smiley face" height="42" width="42">

    <form action="/user" method="post">
      id : <input type="text" name="id">

      pw : <input type="text" name="pw">

      <input type="submit" value="Submit">
    </form>
    
  </body>
</html>
